body{
    background-color: #c4ffee;
    color: #ffbedb;
}

#tupian{
    background-image: url("../images/1.jpg");
    width:300px;
    height:300px;
    transform:rotate(45deg);
    box-shadow: 1px 1px 0 red;
}

#aaa{
    background-color: #c4ffee;
    color: #ffbedb;
}